<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/admin/albums/edit/{id}(id=${album.id})}" method="post">
                <fieldset>
                    <legend>Edit Album</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="album_name">Album name</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="album_name" placeholder="Album name" name="albumName"
                                   required="required" th:value="${album.name}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/admin/albums/}">Cancel</a>
                            <input value="Edit" type="submit" class="btn btn-success"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>