<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2 th:text="${link.author.fullName}"></h2>
                    </header>

                    <img th:src="${link.link}" width="400" height="300"/>

                    <p th:text="${link.content}"></p>

                    <footer>
                        <div class="pull-right">
                            <!--<th:block sec:authorize="isAuthenticated()">-->
                            <th:block sec:authorize="isAuthenticated()">
                                <a class="btn btn-success btn-xs" th:href="@{/link/edit/{id}(id = ${link.id})}">Edit</a>
                                <a class="btn btn-danger btn-xs"
                                   th:href="@{/link/delete/{id}(id = ${link.id})}">Delete</a>
                            </th:block>
                            <a class="btn btn-default btn-xs" th:href="@{/link/viewLinks}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>