<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-3">
                <div>
                    <img th:src="${user.profilePicture}" width="200" height="300"/>
                </div>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:class="info">
                            <td th:text="${user.fullName}"></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Town</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:class="info">
                            <td th:text="${user.town}"></td>
                            <td th:text="${user.country}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
