<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <div>Email:</div>
                    <span th:text="${user.email}"></span>
                    <br/>
                    <div>Username:</div>
                    <span th:text="${user.fullName}"></span>

                    <div>
                        <a class="btn btn-default" th:href="@{/profile/edit/{id} (id=${user.id})}">Edit Profile</a><!--{id}(id = ${link.id})-->
                        <!--  <input type="submit" class="btn btn-success" value="Edit"/>-->
                      </div>

                  </div>

              </div>

          </div>
      </div>
  </main>
