<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>header now also h2 in here</h2>
                    </header>

                    <span>I'm going to start this next time i sit. If you want and have time, feel free to start. :)</span>
                    <p>Content paragraph here</p>

                    <small>Some small class??</small>

                    <p>tags paragraph</p>

                    <footer>The footer.</footer>
                </article>
            </div>
        </div>
    </div>
</main>