<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2 th:text="${album.name}"></h2>
                    </header>

                    <th:block th:each="image : ${album.imagePathList}">

                        <img th:src="${image}" width="400" height="300"/>

                    <small class="author" th:text="${album.author.fullName}"></small>

                    </th:block>

                    <footer>

                        <div class="pull-right">

                            <a class="btn btn-success btn-xs" th:href="@{/album/edit/{id}(id = ${album.id})}">Edit</a>
                            <a class="btn btn-danger btn-xs" th:href="@{/album/delete/{id}(id = ${album.id})}">Delete</a>

                            <a class="btn btn-default btn-xs" th:href="@{/album/viewAlbums}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>
</main>
