<main>
    <div class="container body-content">
        <div class="row">
            <header>
                <h2 th:text="${album.name}"></h2>
            </header>
            <th:block th:each="image : ${album.imagePathList}">
                <div class="col-md-4">
                    <aritcle>
                        <img th:src="${image}" width="300" height="200"/>
                    </aritcle>
                    <!--<small class="author" th:text="${album.author.fullName}"></small>-->
                </div>
            </th:block>

        </div>
        <footer>
            <div class="pull-right">
                <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(album)}">
                    <a class="btn btn-success btn-xs" th:href="@{/album/addPicture/{id}(id = ${album.id})}">Add Picture</a>
                    <a class="btn btn-success btn-xs" th:href="@{/album/edit/{id}(id = ${album.id})}">Edit</a>
                    <a class="btn btn-danger btn-xs" th:href="@{/album/delete/{id}(id = ${album.id})}">Delete</a>
                </th:block>
                <a class="btn btn-default btn-xs" th:href="@{/album/viewAlbums}">back &raquo;</a>
            </div>
        </footer>
    </div>
</main>