<main xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:c="http://java.sun.com/xml/ns/javaee">
    <div class="container body-content">
        <div class="row">
            <th:block th:each="album : ${albums}">
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2 th:text="${album.name}"></h2>
                        </header>

                        <th:block th:each="image : ${album.imagePathList}">
                            <img th:src="${image}" width="400" height="300"/>

                            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/"
                                 data-layout="standard" data-action="like" data-show-faces="true"
                                 data-share="true"></div>
                            <div class="fb-comments"
                                 data-href="https://developers.facebook.com/docs/plugins/comments#configurator"
                                 data-numposts="1"></div>

                        </th:block>

                        <small class="author" th:text="${album.author.fullName}"></small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/album/{id}(id=${album.id})}">See more &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
</main>