<main xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:c="http://java.sun.com/xml/ns/javaee">
    <div class="container body-content">
        <div class="row">
            <th:block th:each="album : ${albums}">
                <div class="col-md-3">
                    <article>
                        <th:block th:each="image : ${album.albumPicture}">
                            <a th:href="@{/album/{id}(id=${album.id})}">
                                <img th:src="${image}" width="200" height="150"/>
                            </a>
                            <small class="author" th:text="${album.author.fullName}"></small>
                        </th:block>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
</main>